<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= title %></title>
  <meta name="description" content="<%= description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Roboto+Mono:100,400">
  <meta property="og:url" content="<%= url %>">
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= description %>">
</head>
<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"><%- body -%></div>
  <script>
    window.data=<%- data -%>;
    window.config=<%- config -%>;
    window.dataLayer=window.dataLayer||[];
    function gtag(){dataLayer.push(arguments);}
    gtag('js',new Date());
    gtag('config','<%- env.GA_TRACKING_ID %>',{'send_page_view':false});
  </script>
<% assets.filter(x => x.endsWith('.js')).forEach(url => { -%>
  <script src="/<%= url %>"></script>
<% }); -%>
<% if (env.GA_TRACKING_ID) { -%>
  <script src="https://www.googletagmanager.com/gtag/js?id=<%- env.GA_TRACKING_ID -%>" async defer></script>
<% } -%>
</body>
</html>
